<header class="app">
    <button class="toggle-filters" name="filters-menu" data-ng-click="header.toggleFilters()">
        <i class="bhi-search-menu open"></i>
        <i class="bhi-times close"></i>
        <span class="badge" data-ng-show="header.SearchService.searchParams.category.length + header.SearchService.searchParams.location.length > 0">{{header.SearchService.searchParams.category.length + header.SearchService.searchParams.location.length}}</span>
    </button>
    <button class="go-back" name="over-arrow-back" data-ng-click="header.goBack()">
        <i class="bhi-arrow-left"></i>
    </button>

    <label>{{::header.configuration.companyName}}</label>

    <button class="apply" data-ng-show="!header.isEvergreen()" data-ng-click="header.applyModal()" data-ng-disabled="!header.hasEvergreen()" data-ng-class="{ 'disabled': !header.hasEvergreen() }">{{ 'common.generalResume' | i18n}}</button>

</header>
